@import "bootstrap";
@import 'ionicons';
@import "font-awesome";

$primary-color: darken(rgb(102, 238, 216), 30%); // turquoise
$secondary-color: rgb(255, 127, 118); // pink

/* START: GLOBAL STYLES */
html, body, #page {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #2C3E50;
  font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  font-weight: 300;
}

body {
  background-color: #ECF0F1;
  background: asset-url('pattern-lightgrey.png', image) fixed;
}

section {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}

p {
  line-height: 28px;
}

a, a:focus, a:active {
  color: $primary-color;
  cursor: pointer;
}

a:hover {
  color: darken($primary-color, 10%);
}
/* END: GLOBAL STYLES */

/* START: PRELOADER BAR ON THE TOP*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: $secondary-color;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 12px;
  overflow: hidden;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: -32px;
  bottom: 0;

  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;

  -webkit-animation: pace-stripe-animation 500ms linear infinite;
  -moz-animation: pace-stripe-animation 500ms linear infinite;
  -ms-animation: pace-stripe-animation 500ms linear infinite;
  -o-animation: pace-stripe-animation 500ms linear infinite;
  animation: pace-stripe-animation 500ms linear infinite;
}

@-webkit-keyframes pace-stripe-animation {
  0% { -webkit-transform: none; transform: none; }
  100% { -webkit-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-moz-keyframes pace-stripe-animation {
  0% { -moz-transform: none; transform: none; }
  100% { -moz-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-o-keyframes pace-stripe-animation {
  0% { -o-transform: none; transform: none; }
  100% { -o-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@-ms-keyframes pace-stripe-animation {
  0% { -ms-transform: none; transform: none; }
  100% { -ms-transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
@keyframes pace-stripe-animation {
  0% { transform: none; transform: none; }
  100% { transform: translate(-32px, 0); transform: translate(-32px, 0); }
}
/* END: PRELOADER BAR ON THE TOP*/

/* START: NAVIGATION ON THE TOP */
.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  padding-right: 15px;
}

.navbar-transparent .navbar-nav li a {
  color: #505050;
}

.navbar-transparent .navbar-nav .active a, .navbar-transparent .navbar-nav .active a:hover {
  background-color: $secondary-color;
  color: #fff;
}
/* END: NAVIGATION ON THE TOP */

/* START: SECTION HEADING */
.fancy {
  line-height: 0;
  text-align: center;
  margin-bottom: 35px;
}
.fancy span {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 0;
  top: 0;
}
/* END: SECTION HEADING */

/* START: COMMON UI ELEMENTS */
.highlight {
  color: $primary-color;
}

.btn-half-block {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 50%;
}

#logo {
  position: relative;
  background: asset-url('logo.png', image) right no-repeat;
  right: 0;
  height: 200px;
}

@media all and (max-width: 660px) and (min-width: 0px) {
  #logo {
    position: relative;
    right: 0;
    background: asset-url('logo-small.png', image) right no-repeat;
    height: 100px;
  }
}

.btn-transparent {
  background-color: rgba(255, 255, 255, 0);
  color: #333;
  border: 1px solid #333;
}

.btn-transparent:hover, .btn-transparent:focus, .btn-transparent:active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.btn-white, .btn-white:focus, .btn-white:active {
  color: #fff;
}

.btn-white:hover {
  color: #eee;
  text-decoration: none;
}

.btn-themed {
  background-color: $secondary-color;
  color: #fff;
  border: 1px solid #fff;
}

.btn-themed:hover, .btn-themed:focus, .btn-themed:active {
  background-color: darken($secondary-color, 5%);
  color: #fff;
}

.alert-small {
  padding: 6px 12px 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* END: COMMON UI ELEMENTS */

/* START: HOME SECTION*/
#header {
  overflow: hidden;
  height: auto;
//  background: asset-url('home.jpg', image) fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
//  border-bottom: 20px solid;
  border-bottom-color: rgba(180, 180, 180, 0.75);
}

#intro {
  position: absolute;
  top: 25%;
  padding: 30px;
//  background-color: rgba(230, 230, 230, 0.8);
  background-color: rgba(darken($primary-color, 10%), 0.55);
  background: asset-url("pattern-turquoise.jpg", image) fixed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid rgba(lighten($primary-color, 10%), 1);
}

#intro .ticker {
  overflow: hidden;
  height: 40px;
  vertical-align: baseline;
}

#intro .ticker h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 40px;
  -webkit-transition: margin-top 0.5s ease-in-out;
  -moz-transition:    margin-top 0.5s ease-in-out;
  -o-transition:      margin-top 0.5s ease-in-out;
  transition:         margin-top 0.5s ease-in-out;
}
/* END: HOME SECTION*/


/* START: ABOUT SECTION*/
#about .container, #work .container, #team .container, #contact .container {
  background-color: rgba(255, 255, 255, 1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#about .article h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 700;
}

#about .article p {
  margin-bottom: 50px;
}

#about .slide {
  color: #fff;
  background: rgba($primary-color, 0.75);
  text-align: center;
  list-style-type: none;
  height: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 30px;
}
/* END: HOME SECTION*/

/* START: SERVICES SECTION*/
#services {
  height: auto;
  background: asset-url('services.jpg', image) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 -300px;
}

#services .container {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#services .desc h2 {
  margin-top: 0px;
}

#services .desc p {
  margin-bottom: 20px;
}

#services .article h3{
  margin-top: 0px;
  font-weight: 700;
}

#services .article p {
  margin-bottom: 50px;
}

#services .article ul li {
  margin-bottom: 10px;
}

#services .article ul li:last-child {
  margin-bottom: 30px;
}
/* END: SERVICES SECTION*/

/* START: WORK SECTION*/
#work .container {
  background-color: rgba(255, 255, 255, 1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#work .desc h2 {
  margin-top: 0px;
}

#work .desc p {
  margin-bottom: 10px;
}

#work #filters {
  width: 100%;
  margin: 20px auto 30px auto;
}

#work #filters li {
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  padding: 10px;
  min-width: 120px;
}

#work #filters li.active, #work #filters li:hover {
  background-color: #f5f5f5;
  color: $primary-color;
}

#work #gallery {
  padding: 0;
}

#work #gallery li div {
  margin-bottom: 30px;
}

#work #gallery li div a {
  text-decoration: none;
}

#work #gallery li div a img {
  border: 1px solid;
  border-color: rgba(22, 22, 22, 0.8);
}

#work #gallery li div a span {
  display: block;
  font-weight: bold;
  padding: 4px 0;
  bottom: 28;
  position: relative;
  width: 202px;
  color: #fcfcfc;
  background-color: rgba(22, 22, 22, 0.7);
}

#work #gallery li div a span:hover {
  color: $secondary-color;
  background-color: rgba(22, 22, 22, 0.85);
}

#work #gallery .mix{
  opacity: 0;
  display: none;
  width: 220px;
  height: 220px;
}
/* END: WORK SECTION*/

/* START: CLIENTS SECTION*/
#clients {
  height: auto;
  background: asset-url('clients.jpg', image) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

#clients .container {
  background-color: rgba(40, 30, 20, 0.75);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
}

#clients .desc h2 {
  margin-top: 0px;
}

#clients .desc p {
  margin-bottom: 50px;
}

#clients .statement div h4 {
  margin-top: 0px;
}

#clients .statement div p {
  margin-bottom: 30px;
}
/* END: CLIENTS SECTION*/

/* START: TEAM SECTION*/
#team .desc h2 {
  margin-top: 0px;
}

#team .desc p {
  margin-bottom: 50px;
}

#team .person {
  height: 400px;
  background-repeat: no-repeat;
  background-position:center;
  margin-bottom: 30px;
}

#team .person .info {
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  margin-left: -15px;
}

#team .person .info h4 {
  margin-top: 0px;
  font-weight: 700;
}

#team .person .info p {
  width: 80%;
  margin: auto;
}

#team .person .info ul {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.75);
}
/* END: TEAM SECTION*/

/* START: CONTACT SECTION*/
#contact {
  background: asset-url("contact.jpg", image) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
#contact .desc h2 {
  margin-top: 0px;
}

#contact .desc p {
  margin-bottom: 50px;
}

#contact .option {
  padding-bottom: 30px;
}

#contact-details-wrapper
{
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  /*background: asset-url('stripes.png', image);*/
}

#contact-details {
//  background-color: #fff;
//  margin: -20px auto 15px auto;
//  padding-top: 20px;
//  -webkit-border-radius: 4px;
//  -moz-border-radius: 4px;
//  border-radius: 4px;
//  border: 1px solid #eee;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow:none !important;
  color: #2C3E50;
}
/* END: CONTACT SECTION*/

/* START: FOOTER SECTION*/
#footer {
  font-size: 12px;
  text-align: center;
  margin: 20px auto;
}
/* END: FOOTER SECTION*/